<div class="container">
    <h2>商品詳細</h2>
    <div class="row">
        <div class="row">
            <%= attachment_image_tag @item, :item_image, size:'300x300' %>
        </div>

        <div class="col">
        <table class="new-form-table">
          <tbody>
            <tr>
              <th>商品名</th>
              <td><%= @item.name %></td>
            </tr>

            <tr>
              <th>商品説明</th>
              <td><%= @item.body %></td>
            </tr>

            <tr>
              <th>ジャンル</th>
              <td><%= @item.genre.name %></td>
            </tr>

            <tr>
              <th>税抜価格</th>
              <td><%= @item.price %></td>
            </tr>

            <tr>
              <th>販売ステータス</th>
              <td>
              <% if @item.is_active == false %>
                販売停止中
                <% else %>
                販売中
              <% end %>
              </td>
            </tr>
            <tr>
                <td><%= link_to "編集" , edit_admin_item_path(@item.id) , class: "btn btn-success" %></td>
            </tr>
            <tr>
                <td><%= link_to "新規作成" , new_admin_item_path , class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
        </div>

    </div>
</div>