<h3>新規会員登録</h3>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "customer/shared/error_messages", resource: resource %>
  
  <!--姓-->
  <div class="field"> 　
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true, placeholder: "令和" %>
  </div>

  <!--名-->
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name ,placeholder: "道子" %>
  </div>

  <!--セイ-->
  <div class="field">
    <%= f.label :last_name_kana %>
    <%= f.text_field :last_name_kana ,placeholder: "レイワ" %>
  </div>

  <!--メイ-->
  <div class="field">
    <%= f.label :first_name_kana %>
    <%= f.text_field :first_name_kana ,placeholder: "ミチコ" %>
  </div>

  <!--メールアドレス-->
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" ,placeholder: "sample@example.com" %>
  </div>
  
  <!--郵便番号(ハイフンなし)-->
  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode ,placeholder: "0000000" %>
  </div>

  <!--住所-->
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address ,placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
  

  <!--電話番号(ハイフンなし)-->
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number ,placeholder: "0000000000" %>
  </div>

  <!--パスワード(8文字以上)-->
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <!--パスワード(確認用)-->
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>


<h3>既に登録済みの方</h3>

<p>
  <%= render "customer/shared/links" %>
  からログインしてください。
</p>