<div class="container">
  
  <div class="row">
    <div class="col-md-2">
      <div class="genres">
        <h6>ジャンル検索</h6>
        <% @genres.each do |genre| %>
          <p><%= genre.name %></p>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-10">
      <div class="introduction">
        <p>
          ようこそ、ながのCAKEへ！<br />
          このサイトは、ケーキ販売のECサイトになります。<br />
          会員でない方も商品の閲覧はできますが、<br />
          購入には会員登録が必要になります。
        </p>
      </div>
      
      <div class="new-items">
        <h3>新着商品</h3>
        <div class="col d-flex flex-wrap wrap">
          <% @items.each do |item| %>
          <div class="items", style="padding-right: 10px; padding-left: 0px; margin: 10px 0;">
            <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :item_image, size:"150x150" %>
            <% end %>
            <p><%= item.name %></p>
            <p><%= item.price %></p>
          </div>
          <% end %>
        </div>
      </div>
      
      <%= paginate @items %>
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
    
    
  </div>
</div>




