<!--改行代わりの空白分-->
  <p class="text-center">　　　　　　　　　　　　</p>

<button type="button" class="btn btn-outline-light">ログイン</button>

<!--改行代わりの空白分-->
  <p class="text-center">　　　　　　　　　　　　</p>

<span style="color:white">


<p>会員の方はこちらからログイン</p>

<%= form_with model:@customer, url: new_customer_session_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<!--改行代わりの空白分-->
  <p class="text-center">　　　　　　　　　　　　</p>

<p>会員登録がお済でない方</p>

<p><%= render "customer/shared/links" %>から新規登録を行ってください。</p>



