
<!--会員側：注文確定画面-->
<%= form_with  model: @order, url: orders_path , method: :post do |f| %>
<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h2 class="red-border px-3">ご注文内容</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="offset-1 col-7">

<!-- 注文商品の情報 -->
      <table class="table table-striped ">
        <thead class="table-light">
          <tr class="red-border">
            <th>商品</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
          <% current_customer.cart_items.each do |cart| %>
            <tr class="brown-border">
              <td>
                <%= attachment_image_tag cart.item, :item_image, :size => '50x50',fallback: "no_image.jpg" %>
                <%= cart.item.name %>
              </td>
              <td class="align-middle"><%= (cart.item.with_tax_price).to_s(:delimited, delimiter: ',') %></td>
              <td class="align-middle"><%= cart.quantity %></td>
              <td class="align-middle"><%= (cart.subtotal).to_s(:delimited, delimiter: ',') %></td>
            </tr>
            <% @sum += cart.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

<!-- 金額の情報 -->
    <div class="col-2 d-flex">

      <table class="table table-bordered align-self-end">
        <tbody>
          <tr class="brown-border">
            <td>送料</td>
            <td><%=(@order.shipping_fee).to_i %></td>
          </tr>

          <tr class="brown-border">
            <td>商品合計</td>
            <td><%= @sum.to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <tr class="brown-border">
            <td>請求金額</td>
            <td><%= (@sum + @order.shipping_fee).to_s(:delimited, delimiter: ',') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<!-- その他情報 -->
  <div class="row mt-5">
    <div class="offset-2 col-6">
      <div class="row mt-3", style="background-color: white">
        <strong class="red-border px-3 mr-3">支払方法</strong>
        <span class="brown-border px-3"><%= @order.payment_method_i18n %></span>
      </div>
      <%= @test %>
      <div class="row mt-3", style="background-color: white">
        <strong class="red-border px-3 mr-3">お届け先</strong>
        <span class="brown-border px-3">
           <%= "〒" + @order.shipping_postcode + "  " + @order.shipping_address + "  " + @order.shipping_name %><span>様</span>
        </span>
      </div>
    </div>

    <div class="col-3">
    <%= f.hidden_field :payment_method ,:value => @order.payment_method %>
		<%= f.hidden_field :shipping_fee ,:value => 800 %>
		<%= f.hidden_field :shipping_address,:value => @order.shipping_address %>
		<%= f.hidden_field :shipping_postcode,:value => @order.shipping_postcode %>
		<%= f.hidden_field :shipping_name,:value => @order.shipping_name %>
		<%= f.hidden_field :total_fee ,:value => @sum %><br><br>
		<div class="text-center">
		<%= f.submit "注文を確定する", class: "btn btn-success text-cenrer btn-lg" %>
		<% end %>
    </div>
  </div>
</div>