
<!--会員側：新規注文受付、支払方法入力画面-->

<p>注文情報入力</p>

<p>支払方法</p>

<!--モデルオプションのform_with使用してるからコントローラにインスタンスを指定する！-->
<%= form_with model: @order do |form| %>
  <!--もしエラー出たら-->
  <% if ＠order.errors.any? %>
  　<!--バリデーションエラー文がこれ-->
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>支払方法</p>
  <div class="field">
    <%= form.label :payment %>
    <%= form.select :payment, Order.payments.keys.to_a, {} %>
  </div>

  <div class="form-group">
		<label><span class="glyphicon glyphicon-stop"></span>お届け先</label>
		<!-- ここから下がご自身の住所 -->
		<div class="radio">
			<label>
				<%= radio_button_tag("_add", "usersAdd") %>ご自身の住所:
			</label>
			<span>〒<%= current_user.postal_code %> <%= current_user.address %></span>
		</div>


		<!-- ここから下が登録済住所から選択 -->
		<div class="radio">
			<label><%= radio_button_tag("_add", "shipAdds") %>登録済住所から選択</label>
		</div>
			<%= collection_select(:ShipToAddress, :id, @ads, :id, :address) %>

		<!-- ここから下が新しく配送先を設定-->
		<div class="radio">
			<label>
				<%= radio_button_tag("_add", "newAdd") %>
				新しいお届け先
			</label>
		</div>

		<div id="form">
			<p class="text">ご希望のお届け先を入力してください。</p>
			<%= fields_for :ship_to_address do |a| %>

		<div class="form-group">
			<label for="inputPostalCode">郵便番号（ハイフンなし）</label>
				<%= a.text_field :postal_code, class:"form-control", id:"inputPostalCode", style:"width:30%;" %>
		</div>

		<div class="form-group">
			<label for="inputAddress">住所</label>
				<%= a.text_field :address, class:"form-control", id:"inputAddress", style:"width:70%;" %>
		</div>

		<div class="form-group">
			<label>宛名</label>
			<div>
				<%= a.text_field :last_name, class:"form-control col-xs-4", style:"width:30%;" %>
				<%= a.text_field :first_name, class:"form-control col-xs-4", style:"width:30%;" %>
			</div>
		</div>

		<div class="row" style="margin:10px 0;"></div>

	<hr>
	<div class="text-center">
		<%= f.submit '確認画面へ進む', class:"btn btn-success" %>
	</div>
<% end %>
</div>


<!--<p>お届け先</p>-->
<!--配送先との関連付けが必要、仮入力・・・-->

<!--  <div class="field">-->
<!--    <%#= form.label :address %>-->
<!--    <%#= form.select :address, Order.addresses.keys.to_a, {} %>-->
<!--  </div>-->


<!--ボタン表示させるためlinl_toの引数１つに、そしてdo追加、-->
<!--さらにdo,endでボタン化させるためのhtml記述のサンドイッチ-->
  <%=link_to("adomins/confirm") do %>
    <button class="btn btn-secondary btn-lg" >確認画面へ進む</button>
  <%end%>

 <!--前後のレコードを取得したままページを遷移させるのか？-->
<!--普通にリンク貼ってその先のページで関連付けすれば良いのか？-->