

<!--bootstrapのレイアウト記述、ちゃんと反映できるか確認-->
<div class="cart_container" style="width:90%; margin: 20px auto; position:relative;">
    <strong style="font-size:18px;">ショッピングカート</strong>
    
    <div class="row" style="width:100%; height:20px;"></div>
        <div style="position:absolute; top: 30px; right: 0;">
	        <%= link_to "カートを空にする", clear_path , method: :delete ,  class: "btn btn-danger" %>
		</div>
		
		<table class="table table-bordered">
	        <thead style="background:#dad7d7; border: 1px solid #fff;">
		        <th>商品名</th>
		        <th>単価(税込)</th>
		        <th>数量</th>
		        <th>小計</th>
	        </thead>
	        <tbody>
    	        <% @sum = 0 %>
     	        <% @cart_items.each do |cart_item| %>
            	<tr>
            		<td>
            		    <%= attachment_image_tag cart_item.item, :item_image, :fill, 50, 50 %>
            		    <%= cart_item.item.name %>
            		</td>
            		<td>
            		    <%= cart_item.item.with_tax_price %>
            		</td>
            		<td>
            		    <%= form_with model:cart_item , url: cart_item_path(cart_item) do |c| %>
            		    <%= c.number_field :quantity, min:1, max:10000, step:1 %>
            			<%= c.submit "変更", class: "btn btn-primary" %>
            			<% end %>
            		</td>
            		<td>
            			<%= cart_item.subtotal %>
            		</td>
            		<td>
            		    <%= link_to '削除する', cart_item_path(cart_item.id), method: :delete %>
            		</td>
            		    <% @sum += cart_item.subtotal %>
            	</tr>
            	<% end %>
         	</tbody>
        </table>
        <div class="row">
	        <div class="col-xs-8">
	            <%= link_to root_path do %>
			        <span class="btn btn-info glyphicon glyphicon-chevron-left">買い物を続ける</span>
			    <% end %>
	        </div>
	    
	        <div class="col-xs-4 pull-right">
		        <table class="table table-striped">
			        <tr style="background:#dad7d7; border: 1px solid #fff;">
			        <td>合計金額</td>
			        <td><%= @sum %></td>
			        </tr>
		        </table>
		    </div>
        </div>

<!-- カートに商品が入っていたら表示させる -->
	<% if @cart_items.blank? %>
		<% else %>
		<div class="text-center">
			<%= link_to '購入に進む', new_order_path, class:"btn btn-success" %>
		</div>
	<% end %>
</div>

