<header>
  <div>
    <!--ロゴ-->
    <!--<div class="container-fluid">-->
    <!--    <h1>Cemal Can Dinça</h1>-->
    <!--    <p><a class="btn btn-primary btn-lg" href="#" role="button">CONTACT ME</a></p>-->
    <!--</div>-->
        <div class="jumbotron jumbotron-extend">
        <div class="container-fluid jumbotron-container">
        <h1 class="site-name">Nagano Cake</h1>
        <p><a class="btn btn-black" href="#" role="button">最高のケーキとのひとときを。</a></p>
    </div>

    <div>
      <ul class="navbar-nav mr-auto">
      <nav class="navbar-default" >
      <ul class="nav-link">
      <%= link_to image_tag("naganocake.png", size: "200x200") , root_path %>
      </ul>

    <!--案内-->
      <!--<ul class="navbar-nav ml-auto">-->
        <% if customer_signed_in? %>
        <!--カスタマーがログインしている時 -->
        <ul class="nav pull-right nav-pills">
        　<p class="text-center">
        　<h5 class="text-white">
        　  <li class="nav-link">Welcome,<%= current_customer.last_name + current_customer.first_name %>！</li>
        　</h5>
        　</p>
        　<br/>
        　<li class="nav-link"><%= link_to "Mypage", customers_path %></li>
        　<li class="nav-link"><%= link_to "Cakelist", items_path %></li>
        　<li class="nav-link"><%= link_to "YourCart", cart_items_path %></li>
        　<li class="nav-link"><%= link_to "logout", destroy_customer_session_path, method: :delete %></li>
        </ul>

        <% elsif admin_signed_in? %>
        <!--管理者がログインしている時-->
        <ul class="nav pull-right nav-pills">
         <li class="nav-link"><%= link_to "商品一覧", admin_items_path %></li>
         <li class="nav-link"><%= link_to "会員一覧", admin_customers_path %></li>
         <li class="nav-link"><%= link_to "注文履歴一覧", admin_root_path %></li>
         <li class="nav-link"><%= link_to "ジャンル一覧", admin_genres_path %></li>
         <li class="nav-link"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

        <% else %>
        <!-- ログインしていない時 -->
        <ul class="nav pull-right nav-pills">
          <li class="nav-link"><%= link_to "About", about_path %></li>
          <li class="nav-link"><%= link_to "商品一覧", items_path %></li>
          <li class="nav-link"><%= link_to "新規登録", new_customer_registration_path %></li>
          <li class="nav-link"><%= link_to "ログイン", new_customer_session_path %></li>
        <% end %>
      </ul>
    </nav>
    </div>
  </div>
</header>