<!DOCTYPE html>
<html>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
</style>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <header><%= render "layouts/header" %></header>

     <!--body部分（本文）-->
  <div class="main-container">
    <main>
      <div><%= yield %></div>
    </main>
  </div>

    <!--フッター-->
    <footer><%= render "layouts/footer" %></footer>
  </body>

</html>